
.table-wrap-x {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  scrollbar-gutter: stable both-edges;
  border-radius: 12px;
}


.table-wrap-x::-webkit-scrollbar {
  height: 8px;
}

.table-wrap-x::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.25);
}

.table-wrap-x::-webkit-scrollbar-track {
  background: transparent;
}


@media (prefers-color-scheme: dark) {
  .table-wrap-x::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.28);
  }
}


.MuiDataGrid-cell {
  white-space: nowrap;
}
