.page-container {
  padding: 20px;
}


.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.btn-primary {
  background: #007bff;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
}

.btn-primary:hover {
  background: #0063d1;
}

.search-input {
  padding: 8px;
  width: 200px;
  border-radius: 6px;
  border: 1px solid #ccc;
}


.table-container {
  max-height: 430px;
  overflow-y: auto;
  border-radius: 10px;
}


table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: var(--row-header);
  position: sticky;
  top: 0;
  z-index: 1;
}

th, td {
  padding: 12px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background: var(--row-even);
}

tbody tr:nth-child(odd) {
  background: var(--row-odd);
}

.acciones {
  display: flex;
  gap: 8px;
}

.btn {
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.btn.ver {
  background: #4dabff;
  color: white;
}

.btn.editar {
  background: #007bff;
  color: white;
}

.btn.eliminar {
  background: #ff4d4d;
  color: white;
}

.btn:hover {
  opacity: 0.8;
}

.cliente-link {
  color: #4dabff;
  font-weight: 500;
  text-decoration: none;
}

.cliente-link:hover {
  text-decoration: underline;
}


.table-container::-webkit-scrollbar {
  width: 8px;
}

.table-container::-webkit-scrollbar-track {
  background: var(--row-even);
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
  background: #7a7a7a;
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

.dark .table-container::-webkit-scrollbar-track {
  background: #121212;
}

.dark .table-container::-webkit-scrollbar-thumb {
  background: #555;
}

.dark .table-container::-webkit-scrollbar-thumb:hover {
  background: #777;
}
